@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TTNorms";
    src: local("TTNorms"), url("/assets/fonts/TTNorms-Regular.woff2") format("woff"),
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --father-hero: #0B3B3C;
    --son-accent: #7E0707;
    --grandfather-80: #f3f7f4;
    --grandfather-60:#E8EFE9;
    font-family: TTNorms, sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
}

/* home page */
