.questionnaire {
  background: white;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;

  .header {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    button {
      background: transparent;
      border: none;
    }
  }

  .content {
    max-width: 900px;
    margin: 0 auto;

    .question {
      color: var(--father-hero);
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      padding: 15px;
    }
    .step {
      padding: 15px;
    }

    .questionOptions {
      display: flex;
      flex-flow: row wrap;
      margin: 20px 0 ;
      padding: 15px;
      label {
        flex: 0 48%;
        margin: 1%;
        display: flex;
        justify-content: center;
        box-shadow: 1px 1px 1px 1px #ddd;
        padding: 5px 0;
      }
      input {
        width: 0;
      }
    }

    .controls {
      display: flex;
      justify-content: flex-start;
      padding: 15px;
      .backBtn, .nextBtn {
        padding: 5px 15px;
        box-shadow: 1px 1px 4px 3px #ddd;
        font-size: 18px;
        border: 0;
        border-radius: 8px;
      }
      .nextBtn {
        background: var(--father-hero);
        color: white;
      }
    }

    .result {
      font-size: 30px;
      align-items: center;
      padding: 30px;
    }
  }
}
